In [6]:
import pandas as pd

print(pd.__version__)

1.4.3

In [7]:
test_df = pd.DataFrame({
    'colA': [1,1,1,2,2,3,3,3,3],
    'colB': [112,111,123,24,256,389,367,36,34]
})

In [8]:
test_df

   colA  colB
0     1   112
1     1   111
2     1   123
3     2    24
4     2   256
5     3   389
6     3   367
7     3    36
8     3    34

In [9]:
a = 123
b = 567
c = 'z'

result = 0
print(result)

for i in [a, b]:
    result = result + i

0